@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

body {
  font-family: "New Tegomin", serif;
  color: white;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crystal-ball {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(
    to right top,
    #c2cbd9,
    #9bacd6,
    #828acf,
    #7765c2,
    #7739ac
  );
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.button {
  margin: 3%;
  padding: 1%;
}
